# Environments
.env
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Application Data & State
chroma_db/
database_images/
processed_files.json

# Textbooks / Documents (Ignore large PDFs but keep the folder if needed)
Document Loaders/*
!Document Loaders/.gitkeep

# OS specific files
.DS_Store
Thumbs.db
